dashboard/node_red/flows (1).json
[{"id":"FFF0000000000001","type":"tab","label":"FlowFuse Device Flow","disabled":false,"info":""},{"id":"f01bd59dbee074ff","type":"tab","label":"Real-Time Data Storage","disabled":false,"info":"","env":[]},{"id":"e70cf57137d202de","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"616e3dfc2bfea159","type":"mqtt-broker","name":"","broker":"0a3995fec7984525ba12af5d3b4b7323.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"96d0854305108ffb","type":"mongodb3","uri":"mongodb+srv://mssellapperuma:EKSOZqVkv1D6DOj1@fireshield360-db.zswaym5.mongodb.net/iot_sensors?retryWrites=true&w=majority&appName=fireshield360-db","name":"MongoDB Atlas - mssellapperuma","options":"","parallelism":-1},{"id":"87227569b7947505","type":"mongodb3","uri":"mongodb+srv://mssellapperuma:EKSOZqVkv1D6DOj1@fireshield360-db.zswaym5.mongodb.net/iot_sensors?retryWrites=true&w=majority&appName=fireshield360-db","name":"MongoDB Atlas - mssellapperuma","options":"","parallelism":-1},{"id":"ea620dd4cc2b50e4","type":"mongodb3","uri":"mongodb+srv://fireshield360:uHOgfe3X2Lm3usCO@cluster0.aateg5h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/fireshield360-db","name":"fireshield360-mongodb","options":"","parallelism":-1},{"id":"cf9529b6e079b46f","type":"mqtt-broker","name":"Fireshield 360 Outlook","broker":"7ce36aef28e949f4b384e4808389cffc.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0e47186383bc6cba","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":true},{"id":"36e21234849ca3ed","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"fcb606861f19439e","type":"ui-page","name":"Real-Time Sensor Readings","ui":"0e47186383bc6cba","path":"/realtime-readings","icon":"home","layout":"grid","theme":"36e21234849ca3ed","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"78fbe1252ce9c2b8","type":"ui-group","name":"Temperature","page":"fcb606861f19439e","width":"12","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"65ccd73db57bfbb2","type":"ui-group","name":"IR Temperature","page":"fcb606861f19439e","width":"12","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"8bb342f4c3c6335a","type":"ui-group","name":"Humidity","page":"fcb606861f19439e","width":"12","height":1,"order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c53d2e28746e7b55","type":"ui-group","name":"Smoke","page":"fcb606861f19439e","width":"12","height":1,"order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"FFCOM00000000001","type":"comment","z":"FFF0000000000001","name":"Welcome to Node-RED by FlowFuse! \\n This is a basic starter flow for your new device, to get you started.","info":"","x":310,"y":80,"wires":[]},{"id":"FFINJ00000000001","type":"inject","z":"FFF0000000000001","name":"On Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":140,"y":160,"wires":[["FFCHA00000000001"]]},{"id":"FFCHA00000000001","type":"change","z":"FFF0000000000001","name":"Get Env Vars","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.device","pt":"msg","to":"FF_DEVICE_NAME","tot":"env"},{"t":"set","p":"payload.application","pt":"msg","to":"FF_APPLICATION_NAME","tot":"env"}],"action":"","reg":false,"x":320,"y":160,"wires":[["FFDBG00000000001"]]},{"id":"FFDBG00000000001","type":"debug","z":"FFF0000000000001","name":"Info","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"9a6c8979b8177df9","type":"mongodb3 in","z":"f01bd59dbee074ff","service":"_ext_","configNode":"ea620dd4cc2b50e4","name":"MongoDB Insert","collection":"sensor-readings","operation":"insert","x":500,"y":380,"wires":[["212dcac36b28f444"]]},{"id":"a9ab954fbdc8c5d1","type":"mqtt in","z":"f01bd59dbee074ff","name":"","topic":"esp32_01/sensors/data","qos":"0","datatype":"auto-detect","broker":"cf9529b6e079b46f","nl":false,"rap":true,"rh":"0","inputs":0,"x":200,"y":300,"wires":[["d420629751642b4c","9a6c8979b8177df9"]]},{"id":"d420629751642b4c","type":"debug","z":"f01bd59dbee074ff","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"212dcac36b28f444","type":"debug","z":"f01bd59dbee074ff","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":380,"wires":[]},{"id":"e4f4d12111130d06","type":"mqtt in","z":"e70cf57137d202de","name":"","topic":"esp32_01/sensors/data","qos":"0","datatype":"auto-detect","broker":"cf9529b6e079b46f","nl":false,"rap":true,"rh":"0","inputs":0,"x":460,"y":360,"wires":[["0fb9ece5173fc161","315192f187bc30cc","75c2be926ea3283a","23b4448c6508e3d9","3172edabfd240221","316a38b371c6ec9b","cbafc5c606794dec","71578e8f0fa27f36"]]},{"id":"0fb9ece5173fc161","type":"ui-chart","z":"e70cf57137d202de","group":"78fbe1252ce9c2b8","name":"Temperature","label":"Real-Time Temperature Chart","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"Temperature (째C)","yAxisProperty":"payload.temperature","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"50","colors":["#ff0000","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"8","height":"5","className":"","interpolation":"linear","x":770,"y":260,"wires":[[]]},{"id":"315192f187bc30cc","type":"ui-chart","z":"e70cf57137d202de","group":"65ccd73db57bfbb2","name":"IR Temperature","label":"Real-Time IR Temperature Chart","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"Temperature (째C)","yAxisProperty":"payload.ir_temperature","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"50","colors":["#ffa500","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"8","height":"5","className":"","interpolation":"linear","x":780,"y":400,"wires":[[]]},{"id":"75c2be926ea3283a","type":"ui-chart","z":"e70cf57137d202de","group":"8bb342f4c3c6335a","name":"Humidity Chart","label":"Real-Time Humidity Chart","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"Humidity (%)","yAxisProperty":"payload.humidity","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"50","colors":["#007bff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"8","height":"5","className":"","interpolation":"linear","x":780,"y":540,"wires":[[]]},{"id":"23b4448c6508e3d9","type":"ui-chart","z":"e70cf57137d202de","group":"c53d2e28746e7b55","name":"Smoke","label":"Real-Time Smoke Chart","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"Smoke","yAxisProperty":"payload.smoke","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"50","colors":["#6e6e6e","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"8","height":"5","className":"","interpolation":"linear","x":760,"y":660,"wires":[[]]},{"id":"d6efe2e989478914","type":"ui-gauge","z":"e70cf57137d202de","name":"Temperature Gauge","group":"78fbe1252ce9c2b8","order":1,"width":"3","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Current Temperature","units":"째C","icon":"","prefix":"","suffix":"","segments":[{"from":"30","color":"#5cd65c"},{"from":"35","color":"#ffc800"},{"from":"40","color":"#ea5353"}],"min":"30","max":"40","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":1020,"y":200,"wires":[]},{"id":"3172edabfd240221","type":"function","z":"e70cf57137d202de","name":"function 1","func":"var temperature = {payload: msg.payload.temperature}\nreturn temperature;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":200,"wires":[["d6efe2e989478914"]]},{"id":"972c78ea62f408c1","type":"ui-gauge","z":"e70cf57137d202de","name":"Humidity Gauge","group":"8bb342f4c3c6335a","order":1,"width":"3","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Current Humidity","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"70","color":"#5cd65c"},{"from":"75","color":"#ffc800"},{"from":"80","color":"#ea5353"}],"min":"70","max":"80","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":1000,"y":480,"wires":[]},{"id":"316a38b371c6ec9b","type":"function","z":"e70cf57137d202de","name":"function 3","func":"var humidity = {payload: msg.payload.humidity}\nreturn humidity;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":480,"wires":[["972c78ea62f408c1"]]},{"id":"6df0679f594ba2ab","type":"ui-gauge","z":"e70cf57137d202de","name":"IR Temperature Gauge","group":"65ccd73db57bfbb2","order":1,"width":"3","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Current IR Temperature","units":"째C","icon":"","prefix":"","suffix":"","segments":[{"from":"30","color":"#5cd65c"},{"from":"55","color":"#ffc800"},{"from":"80","color":"#ea5353"}],"min":"30","max":"80","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":1020,"y":340,"wires":[]},{"id":"cbafc5c606794dec","type":"function","z":"e70cf57137d202de","name":"function 2","func":"var ir_temperature = {\n    payload: parseFloat(msg.payload.ir_temperature).toFixed(2)\n};\nreturn ir_temperature;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["6df0679f594ba2ab"]]},{"id":"ad96c931430f81c0","type":"ui-gauge","z":"e70cf57137d202de","name":"Smoke Gauge","group":"c53d2e28746e7b55","order":1,"width":"3","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Current Humidity","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"1500","color":"#5cd65c"},{"from":"2000","color":"#ffc800"},{"from":"2500","color":"#ea5353"}],"min":"1500","max":"2500","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":1000,"y":600,"wires":[]},{"id":"71578e8f0fa27f36","type":"function","z":"e70cf57137d202de","name":"function 4","func":"var smoke = {payload: msg.payload.smoke}\nreturn smoke;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["ad96c931430f81c0"]]}]